<header>
    <img src="logo_peq.png" alt="Logo da Igreja" class="logo">
    <nav class="navigation">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Início</a></li>
        <li><a routerLink="/sobre-nos" routerLinkActive="active">Sobre Nós</a></li>
        <li><a routerLink="/palavra-do-pastor" routerLinkActive="active">Palavra do Pastor</a></li>
        <li><a routerLink="/nossas-crencas" routerLinkActive="active">Nossas Crenças</a></li>
        <li><a routerLink="/localizacao" routerLinkActive="active">Localização e Contato</a></li>
        <li><a routerLink="/horarios" routerLinkActive="active">Horários</a></li>
        <li><a routerLink="/lideranca" routerLinkActive="active">Liderança</a></li>
      </ul>
    </nav>
    </header>