<footer>
    <div class="footer-section">
        <h4>Links Rápidos</h4>
        <ul>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Termos de Uso</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Contato</h4>
        <p>Telefone: (12) 3456-7890</p>
        <p>Email: contato&#64;igrejaexemplo.com.br</p>
    </div>
    <div class="footer-section">
        <h4>Endereços</h4>
        <p>Sede: Rua Jacareí 378, Sumaré, Caraguatatuba - SP</p>
        <p>Massaguaçu: Rua Antonio Alexandre 195, Massaguaçú, Caraguatatuba - SP</p>
        <p>Pegorelli: Av Avelino Alves dos Santos 405, Pegorelli, Caraguatatuba - SP</p>
        <p>Planalto do Sul: Rua Ilda Pereira da Silva 288, Planalto do Sul - SP</p>
    </div>
    <div class="copyright">
        &copy; 2025 Igreja Cruzada Intensiva.
    </div>
</footer>