.page-content {
    padding: 15px;
  
    @media (min-width: 768px) {
      padding: 30px;
    }
  
    h2 { margin-bottom: 1.5rem; }
  
    .leadership-list {
       list-style: disc;
       margin-left: 20px;
       li {
          margin-bottom: 0.8rem;
          line-height: 1.4;
       }
    }
}
